html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

canvas {
  height: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 800px;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

nav {
  background-color: #F2F3F5;
  border-right: 1px solid #D2D3D5;
  box-sizing: border-box;
  margin-right: 1em;
  padding: 1em;
  overflow: scroll;
  max-height: 100vh;
}

ul.switcher {
  align-self: flex-start;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

ul.switcher a {
  color: #181820;
}

pre.error {
  background-color: rgb(250, 250, 250);
  color: tomato;
  display: none;
  padding: 1em;
  white-space: pre-wrap;
  max-width: 80em;
}
